body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  /* background: red; */
}

.countdown {
  font-size: 5rem;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.desc {
 font-size: 1.5rem;
 text-align: center;
 font-family: 'Permanent Marker', cursive;
 text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.desc a {
  text-decoration: none;
  color: #a1a1a1;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.createdBy {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: #4d4d4d;
  margin: 0 5px 5px 0;
  font-size: 0.8rem;
}

.createdBy a {
  text-decoration: none;
  color: #a1a1a1;
}

noscript {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  text-align: center;
  font-size: 5rem;
}
